body{
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-03/1614592491_81-p-fon-beloi-komnati-95.jpg);
 }
 a{
     color: black;
     text-decoration: none;
     font-size: 30px;
 }
 .s{
     font-size: 50px;
 }
 .alt-tst{
    display: flex;
    justify-content: space-between;
 }
 .dbl-test a{
     padding: 15px;
  }
  p{
     display: flex;
     justify-content: center;
     margin-top: 200px;
     
 }